@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #FDF8F2; /* Cream/Sand Background */
  --foreground: #2B2D42; /* Charcoal text */
  
  --mango-500: #FF9F1C;
  --raspberry-500: #E71D36;
  --forest-500: #2EC4B6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
  --font-display: var(--font-display), ui-sans-serif, system-ui, sans-serif;

  --color-mango-500: var(--mango-500);
  --color-raspberry-500: var(--raspberry-500);
  --color-forest-500: var(--forest-500);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}



/* Base custom utilities or animations that Framer Motion might rely on */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
